<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassLeft</key>
	<string>GenericLeftBox</string>
	<key>ClassRight</key>
	<string>GenericRightBox</string>
	<key>CornerLeftImage</key>
	<string>soccer.png</string>
	<key>CornerRightImage</key>
	<string>football_large.png</string>
	<key>LeftImage</key>
	<string>soccer.png</string>
	<key>Max Deaths</key>
	<string>3</string>
	<key>Name</key>
	<string>Football vs. Soccer</string>
	<key>RightImage</key>
	<string>football_small.png</string>
</dict>
</plist>
