<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>Resource</key>
			<string>FootballSoccer.plist</string>
		</dict>
		<dict>
			<key>Resource</key>
			<string>TrashRecycling.plist</string>
		</dict>
		<dict>
			<key>Resource</key>
			<string>AppleBroccoli.plist</string>
		</dict>
	</array>
</dict>
</plist>
